.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 100px;
    padding: 50px;
    overflow: hidden;
}
.about-img img {
    width: 60%;
    border-radius: 10px;
}
.about-intro{
    text-align: left;
}
.about-text{
    border-bottom: 3px solid #0fb;
}
@media only screen and (max-width:668px) {
    .about{
        grid-template-columns: repeat(1, 1fr);
        margin: 20px;
        padding: 10px;
    }
    .about-img img{
        margin-top: 50px;
        width: 90%;
    }
}