.contact{
    background-color: #262626;
    margin: 50px;
    padding: 50px;
}

.contact-address{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.address{
    margin: 20px;
}

.input, .textarea {
    width: 80%;
    margin: 10px;
    padding: 10px;
    outline: none;
    background-color: #262626;
    color: white;
    border: 1px solid rgb(204, 195, 195);
}
.input{
    border-radius: 25px;
}
.textarea{
    border-radius: 10px;
}
.textarea:focus{
    border: 1px solid #0fb;
}
.input:focus{
    border: 1px solid #0fb;
}
.submit{
    background-color: #0fb;
    font-weight: bold;
    padding: 15px 50px;
    border-radius: 5px;
    border: 1px solid #262626;
}
.iconic{
    background-color: #0fb;
    color: white;
    padding: 20px;
    font-size: 30px;
    border-radius: 50px;
    margin-right: 20px;
}

@media only screen and (max-width:668px){
    .contact{
        margin: 10px;
        padding: 10px;
    }
    .iconic{
        padding: 10px;
        margin-right: 10px;
    }
    .input, .textarea{
        width: 90%;
    }
    .address{
        margin: 10px;
    }
    
}